In [10]:
data="hey tushar hey hello hey user  user hey"

# [hey tushar hello user]

x=data.split(" ")
print(x, type(x))

['hey', 'tushar', 'hey', 'hello', 'hey', 'user', '', 'user', 'hey'] <class 'list'>

In [23]:
data="hey tushar hey hello hey user  user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    if (i not in newlist):
        newlist.append(i)

In [24]:
newlist

['hey', 'tushar', 'hello', 'user']

In [ ]:
# tuple
# collection of multiple element
# immutable
# index position ()

In [29]:
mytuple=10,
print(type(mytuple))

<class 'tuple'>

In [31]:
mytuple=(10,20,"hey",10.0)
print(type(mytuple))

<class 'tuple'>

In [37]:
mytuple[0:3]

(10, 20, 'hey')

In [39]:
mytuple.index("hey")

2

In [42]:
mytuple

(10, 20, 'hey', 10.0)

In [46]:
mytuple=(10,20,"hey",10.0)
id(mytuple)

1793471101056

In [48]:
mytuple=mytuple+(60,70,80)
id(mytuple)

1793468820544

In [49]:
# "hey tushar hey hello hello tushar tushar"

In [50]:
# armstrong number
# 153  => 1**3  +   5**3  +3**3   => 1+125+27

In [58]:
x=153
rem1=x%10

x=x//10

#x=> 15  rem2=> 5
rem2=x%10

x=x//10
rem3=x%10
print(rem3)

x=x//10
print(x)

rem1**3 + rem2**3+rem3**3

1
0

153

In [59]:
x=10
x+5
print(x)
# 15   10  5  ( Error)

10

In [69]:
# more than 0
# x=153   =>  %   , //
# aisa data jo purani value ko yad raakhe ( variable)

x=153
originalnum=x
total=0
while(x>0):
    
    rem=x%10
    total += rem**3
    
    x=x//10
    
if(total==originalnum):
    print("Armstrong number")
else:
    print("Not")

Armstrong number

In [ ]:
# to find out whether a 4digit number is a armstrong
# to find all the unique word from a string no duplicacy
#    "hey hello user tushar tushar hello"
#   [hey, user]

'''


'''