In [1]:
# dictionary

# collection of element  
# comma
# key : value   ( element)
# key:value , key:value
# don't have index position
# mutuable in nature

In [3]:
mydictionary={1:"tushar",  2:"aman",  3:"aditya","company":"regex software"}

print(mydictionary)

{1: 'tushar', 2: 'aman', 3: 'aditya', 'company': 'regex software'}

In [8]:
mydictionary={1:"tushar",  2:"aman",  3:"aditya","company":"regex software"}

# update
mydictionary[1]="yash"

In [10]:
mydictionary

{1: 'yash', 2: 'aman', 3: 'aditya', 'company': 'regex software'}

In [11]:
mydictionary={1:"tushar",  2:"aman",  3:"aditya","company":"regex software"}

# insert based on key 
mydictionary[4]=500


mydictionary

{1: 'tushar', 2: 'aman', 3: 'aditya', 'company': 'regex software', 4: 500}

In [14]:
x=mydictionary.pop(2)
print(x)

aman

In [17]:
# key value pair delete and return
x=mydictionary.popitem()
print(x)

('company', 'regex software')

In [20]:
mydictionary

{1: 'tushar', 3: 'aditya'}

In [24]:
"tushar" in mydictionary

False

In [26]:
mydictionary.keys()

dict_keys([1, 3])

In [28]:
mydictionary.values()

dict_values(['tushar', 'aditya'])

In [30]:
mydictionary.items()

dict_items([(1, 'tushar'), (3, 'aditya')])

In [31]:
mydictionary

{1: 'tushar', 3: 'aditya'}

In [47]:
mydictionary

{1: 'tushar', 3: 'aditya', 100: 1, 200: 10}

In [82]:
x=200

if(x not in mydictionary):
    mydictionary[x]=1

else:
    mydictionary[x] = mydictionary[x]+1


print(mydictionary)

{1: 'tushar', 3: 'aditya', 100: 1, 200: 80}

In [41]:
# "hello tushar"
#{totalcharacter:12}

In [83]:
data="hello tushar"
total=0
for char in data:
    total+=1
    
print(total)

12

In [88]:
# "hello tushar yash hey"
#{totalcharacter:12}
mydictionary={}
for i in "hello tushar":
    if("totalchar" not in mydictionary):
        mydictionary["totalchar"]=1
    else:
        mydictionary["totalchar"] = mydictionary["totalchar"]+1
        
print(mydictionary)

{'totalchar': 12}

In [91]:
mydictionary={}
for i in "hello hey":
    if (i not in mydictionary):
        mydictionary[i]=1
        
print(mydictionary)

{'h': 1, 'e': 1, 'l': 1, 'o': 1, ' ': 1, 'y': 1}